name: Ubuntu RDP + Tailscale

on:
  workflow_dispatch:

jobs:
  ubuntu-rdp:
    runs-on: ubuntu-latest
    timeout-minutes: 3600

    steps:
      - name: Update system
        run: |
          sudo apt update -y
          sudo apt upgrade -y

      - name: Create user floppato
        run: |
          sudo useradd -m floppato
          echo "floppato:furryuwu123" | sudo chpasswd
          sudo usermod -aG sudo floppato

      - name: Install XFCE + xRDP
        run: |
          sudo apt install -y xfce4 xfce4-goodies xrdp
          echo "xfce4-session" | sudo tee /home/floppato/.xsession
          sudo chown floppato:floppato /home/floppato/.xsession
          sudo systemctl restart xrdp

      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh
          sudo tailscale up --authkey ${{ secrets.TAILSCALE_AUTH_KEY }} --accept-routes

      - name: Show Tailscale IP
        run: tailscale ip -4

      - name: Keep session alive
        run: |
          echo "RDP session active for user floppato"
          while true; do sleep 60; done
